{% extends 'third/base.html' %}
{% load static %}
{% block content %}
	<div class="container">
		<ul>
			{% for review in reviews %}
				<li class="row">
					<h4>{{ review.restaurant.name }}</h4>
					<p>{{ review.restaurant.addr }}</p>
					<p>{{ review.point }} / {{ review.comment }}</p>
				</li>
			{% endfor %}
		</ul>

		<nav aria-label="Page navigation example">
			<ul class="pagination">
				{% if reviews.has_previous %}
					<li class="page-item">
						<a href="?page=1" aria-label="Previous" aria-hidden="true" class="page-link">&laquo;</a>
					</li>
					<li class="page-item">
						<a
							href="?page={{ reviews.previous_page_number }}" aria-hidden="true" aria-label="Previous"
							class="page-link"
						>&lt;</a>
					</li>
				{% endif %}
				<li class="page-item active"><a class="page-link" href="#">{{ reviews.number }}</a></li>
				{% if reviews.has_next %}
					<li class="page-item">
						<a href="?page={{ reviews.next_page_number }}" class="page-link">{{ reviews.next_page_number }}</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
{% endblock %}